
<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>
  
<% if @user.admin == true %>
    <h2>ADMIN</h2>
<% end %>

<h1><%= @user.name %> :</h1>
<ul>
<% @user.attributes.each do |att| %>
    <li><%= att[0].capitalize %>: <%= att[1] %></li>
<% end %>

<p>Mood <%= @user.mood %></p>

</ul>

<a href="/attractions">See attractions</a>

<a href="/logout">Log Out</a>